div.meta-file-uploader--container {
    width: 100%;
    display: flex;
    padding: 1.0625rem;
}

div.meta-file-uploader {
    min-height: 8rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
        height: 2.9375rem;
    }
}