div.file-upload {
    align-items: center;
    padding: 2.09375rem 1.0625rem;

    img.uploading-file {
        height: 4.5rem;
        margin-right: 1.03125rem;
    }

    img.clear-tick {
        height: 1.18125rem;
        margin-left: 0.46875rem;
        cursor: pointer;
    }

    div.source-container {
        display: flex;
        align-items: center;
    }

    div.file-upload-content {
        width: calc(100% - 5.53125rem);
    }

    span.source-file {
        font-size: 0.78125rem;
        font-weight: 500;
        line-height: 2;
        letter-spacing: -0.004375rem;
        color: #ababab;
    }

    span.source {
        font-size: 1.03125rem;
        line-height: 1.71;
        color: rgba(47, 47, 47, 0.87);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(100% - 10rem);
    }
    
    span.uploading {
        font-size: 0.875rem;
        letter-spacing: -0.004375rem;
        color: rgba(47, 47, 47, 0.4);
        margin-left: auto;
        text-transform: uppercase;
    }

    div.meta-progess-bar {
        background: #72a1f0;
    }

    div.meta-progess-bar-success {
        background: #33a738;
    }

    div.meta-progess-bar-error {
        background: rgb(255, 0, 0);
    }
}

span.meta-unsupported-files--text {
    font-size: 0.76875rem;
    font-weight: 300;
    color: #676767;
    margin-left: 0.76875rem;

    b {
        font-weight: 500;
    }
}