div.search-and-filter {
    position: fixed;
    width: 100%;
    top: 4.8rem;
    left: 0;
    z-index: 9;
    display: flex;
    padding: 0 0.28125rem 0.34375rem 0.28125rem;
    background-color: #232323;
}

div.search-and-filter--item-container {
    background-color: #373737;
}

div.search-and-filter--filter {
    margin-top: 0.34375rem;
    
    div.header {
        color: #bababa;
        background-color: #373737;
        border: solid 0.03125rem #373737;

        &:hover, &:active {
            border: solid 0.03125rem #474747;
        }
    }
}

div.search-and-filter--content-container {
    background-color: #373737;
}

div.search--items {
    span {
        color: #bababa;

        u {
            font-weight: bold;
            color: white;
        }
    }

    > div {
        &:hover {
            background: #606060;
        }
    }
}

div.search-and-filter--label {
    border-radius: 0.21875rem !important;
    background-color: #b7b7b7 !important;
    font-size: 0.875rem !important;
    letter-spacing: 0.004375rem !important;
    color: #282828 !important;
    margin-top: 0.34375rem !important;
}