div.select-with-input-tags {
    display: flex;
    align-items: center;
    height: 2.5rem;
    border-radius: 0.21875rem;
    border: solid 0.0625rem #434343;
    background-color: #282828;

    div.select {
        border-right: solid 0.0625rem #434343;
        padding: 0 0.5625rem;
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
        margin-right: 0.25rem;

        span {
            font-size: 0.85rem;
            color: #fff;
        }

        img {
            width: 0.8125rem;
            margin: 0 0.5625rem;
        }
    }

    div.search-items--container {
        position: absolute;
        top: 3rem;
        left: 0;
        background: #505050;
        min-width: 5.625rem;
    }
}