div.search-and-filter--filter {
    margin-right: 0.40625rem;
    display: flex;

    div.header {
        height: 2.5rem;
        padding: 0 0.875rem;
        border-radius: 0.21875rem;
        font-size: 0.875rem;
        letter-spacing: -0.004375rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    img.clear-filter {
        width: 1.21875rem;
        margin-left: 0.75rem;
    }
}

div.search-and-filter--content {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
}

div.search-and-filter--content-container {
    position: absolute;
    top: 3rem;
    z-index: 1;
    padding: 0.75rem;
    border-radius: 0.21875rem;
    max-width: 100vw;
}

div.content-overflow {
    max-height: 70vh;
    overflow: scroll;
}

div.search--items {
    span {
        display: block;
        font-size: 0.875rem;
        letter-spacing: -0.004375rem;
    }

    > div {
        padding: 0.5rem 0.625rem;
        cursor: pointer;
    }
}

div.search-with-label {
    display: flex;
    align-items: center;
}

div.search-and-filter--checkboxes {
    display: flex;
    align-items: center;
    
    > * {
        margin-left: 0.625rem;
    }
}

div.vertical-checkboxes {
    > * {
        margin-bottom: 0.5625rem;

        &:last-child {
            margin: 0;
        }
    }
}

div.certifications-checkboxes {
    border-top: solid 0.125rem #474747;
    margin-top: 0.53125rem;
    padding-top: 0.53125rem;
}